:root {
  --font-heading-family: "Marcellus", serif;
  --font-heading-style: normal;
  --font-heading-weight: 400;
  --font-heading-scale: 1;
  --font-body-family: "Lexend Deca", sans-serif;
  --font-body-style: normal;
  --font-body-weight: 400;
  --font-body-weight-bold: 700;
  --font-body-scale: 1;
  --font-additional-family: "Mr De Haviland", cursive;
  --font-additional-heading-style: normal;
  --font-additional-heading-weight: 400;
  --color-base-text: 0, 0, 0;
  --color-shadow: 0, 0, 0;
  --color-base-background-1: 241, 239, 225;
  --color-base-background-2: 255, 255, 255;
  --color-base-background-3: 187, 181, 131;
  --color-base-background-4: 0, 0, 0;
  --color-base-solid-button-labels: 22, 22, 22;
  --color-base-outline-button-labels: 187, 181, 131;
  --color-base-accent-1: 0, 0, 0;
  --color-base-accent-2: 255, 255, 255;
  --color-base-accent-3: 187, 181, 131;
  --color-base-accent-4: #e2dfce;
  --color-overlay: 187, 181, 131;
  --payment-terms-background-color: #f1efe1;
  --gradient-button-background-1: #161616;
  --gradient-button-hover: ;
  --gradient-base-background-1: #f1efe1;
  --gradient-base-background-2: #ffffff;
  --gradient-base-background-3: #bbb583;
  --gradient-base-background-4: rgba(0, 0, 0, 0);
  --gradient-base-accent-1: #000000;
  --gradient-base-accent-2: #ffffff;
  --gradient-base-accent-3: #bbb583;
  --media-padding: px;
  --media-border-opacity: 0;
  --media-border-width: 0px;
  --media-radius: 0px;
  --media-shadow-opacity: 0;
  --media-shadow-horizontal-offset: 0px;
  --media-shadow-vertical-offset: 4px;
  --media-shadow-blur-radius: 5px;
  --page-width: 165rem;
  --page-full-width-spacing: 2%;
  --page-width-margin: 0rem;
  --card-image-padding: 0rem;
  --card-corner-radius: 0rem;
  --card-text-alignment: right;
  --card-border-width: 0rem;
  --card-border-opacity: 0;
  --card-shadow-opacity: 0;
  --card-shadow-horizontal-offset: 0rem;
  --card-shadow-vertical-offset: 0rem;
  --card-shadow-blur-radius: 3rem;
  --badge-corner-radius: 4rem;
  --popup-border-width: 0px;
  --popup-border-opacity: 0;
  --popup-corner-radius: 0px;
  --popup-shadow-opacity: 0.2;
  --popup-shadow-horizontal-offset: 6px;
  --popup-shadow-vertical-offset: 6px;
  --popup-shadow-blur-radius: 10px;
  --drawer-border-width: 0px;
  --drawer-border-opacity: 0;
  --drawer-shadow-opacity: 0;
  --drawer-shadow-horizontal-offset: 0px;
  --drawer-shadow-vertical-offset: 4px;
  --drawer-shadow-blur-radius: 0px;
  --spacing-sections-desktop: 0px;
  --spacing-sections-mobile: 0px;
  --grid-desktop-vertical-spacing: 30px;
  --grid-desktop-horizontal-spacing: 30px;
  --grid-mobile-vertical-spacing: 15px;
  --grid-mobile-horizontal-spacing: 15px;
  --sidebar-width: 300px;
  --text-boxes-border-opacity: 0.1;
  --text-boxes-border-width: 0px;
  --text-boxes-radius: 0px;
  --text-boxes-shadow-opacity: 0;
  --text-boxes-shadow-horizontal-offset: 0px;
  --text-boxes-shadow-vertical-offset: 4px;
  --text-boxes-shadow-blur-radius: 5px;
  --buttons-radius: 0px;
  --buttons-radius-outset: 0px;
  --buttons-border-width: 0px;
  --buttons-border-opacity: 1;
  --buttons-shadow-opacity: 0;
  --buttons-shadow-horizontal-offset: 0px;
  --buttons-shadow-vertical-offset: 0px;
  --buttons-shadow-blur-radius: 0px;
  --buttons-border-offset: 0px;
  --inputs-radius: 0px;
  --inputs-border-width: 1px;
  --inputs-border-opacity: 1;
  --inputs-shadow-opacity: 0;
  --inputs-shadow-horizontal-offset: 0px;
  --inputs-margin-offset: 0px;
  --inputs-shadow-vertical-offset: 0px;
  --inputs-shadow-blur-radius: 0px;
  --inputs-radius-outset: 0px;
  --variant-pills-radius: 0px;
  --variant-pills-border-width: 0px;
  --variant-pills-border-opacity: 0.55;
  --variant-pills-shadow-opacity: 0;
  --variant-pills-shadow-horizontal-offset: 0px;
  --variant-pills-shadow-vertical-offset: 4px;
  --variant-pills-shadow-blur-radius: 5px;
}
