.elementor-265
  .elementor-element.elementor-element-86f2162:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-265
  .elementor-element.elementor-element-86f2162
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-265 .elementor-element.elementor-element-86f2162 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  z-index: 19;
}
.elementor-265
  .elementor-element.elementor-element-86f2162
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-265
  .elementor-element.elementor-element-c0ca444.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-265
  .elementor-element.elementor-element-c0ca444.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-265
  .elementor-element.elementor-element-c0ca444.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-start;
}
.elementor-265
  .elementor-element.elementor-element-c0ca444
  > .elementor-element-populated {
  padding: 6px 15px 15px 60px;
}
.elementor-265 .elementor-element.elementor-element-76ced47 {
  text-align: left;
  width: auto;
  max-width: auto;
}
.elementor-265
  .elementor-element.elementor-element-76ced47
  .bdt-ep-advanced-heading-sub-title {
  color: var(--e-global-color-1c81d8d);
  font-family: "Lato", Sans-Serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  font-style: normal;
  text-decoration: none;
  line-height: 24px;
  letter-spacing: 2.4px;
}
.elementor-265
  .elementor-element.elementor-element-76ced47
  .bdt-ep-advanced-heading-main-title-inner {
  color: var(--e-global-color-1c81d8d);
  -webkit-text-stroke-color: var(--e-global-color-1c81d8d);
  font-family: var(--e-global-typography-secondary-font-family), Sans-Serif;
  font-size: var(--e-global-typography-secondary-font-size);
  font-weight: var(--e-global-typography-secondary-font-weight);
  font-style: var(--e-global-typography-secondary-font-style);
  text-decoration: var(--e-global-typography-secondary-text-decoration);
  line-height: var(--e-global-typography-secondary-line-height);
  letter-spacing: var(--e-global-typography-secondary-letter-spacing);
}
.elementor-265
  .elementor-element.elementor-element-76ced47
  > .elementor-widget-container {
  padding: 0px 37px 0px 0px;
}
.elementor-265 .elementor-element.elementor-element-58f3ee0 {
  text-align: left;
  width: auto;
  max-width: auto;
}
.elementor-265
  .elementor-element.elementor-element-58f3ee0
  .bdt-ep-advanced-heading-sub-title {
  color: var(--e-global-color-1c81d8d);
  font-family: "Lato", Sans-Serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  font-style: normal;
  text-decoration: none;
  line-height: 24px;
  letter-spacing: 2.4px;
}
.elementor-265
  .elementor-element.elementor-element-58f3ee0
  .bdt-ep-advanced-heading-main-title-inner {
  color: var(--e-global-color-1c81d8d);
  -webkit-text-stroke-color: var(--e-global-color-1c81d8d);
  font-family: var(--e-global-typography-secondary-font-family), Sans-Serif;
  font-size: var(--e-global-typography-secondary-font-size);
  font-weight: var(--e-global-typography-secondary-font-weight);
  font-style: var(--e-global-typography-secondary-font-style);
  text-decoration: var(--e-global-typography-secondary-text-decoration);
  line-height: var(--e-global-typography-secondary-line-height);
  letter-spacing: var(--e-global-typography-secondary-letter-spacing);
}
.elementor-265
  .elementor-element.elementor-element-58f3ee0
  > .elementor-widget-container {
  padding: 0px 0px 0px 37px;
}
.elementor-bc-flex-widget
  .elementor-265
  .elementor-element.elementor-element-298b713.elementor-column
  .elementor-widget-wrap {
  align-items: flex-end;
}
.elementor-265
  .elementor-element.elementor-element-298b713.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: flex-end;
  align-items: flex-end;
}
.elementor-265
  .elementor-element.elementor-element-298b713.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-265
  .elementor-element.elementor-element-298b713
  > .elementor-element-populated {
  padding: 6px 45px 15px 15px;
}
.elementor-265 .elementor-element.elementor-element-34925fb {
  color: var(--e-global-color-1c81d8d);
  font-family: "Lato", Sans-Serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  line-height: 24px;
  letter-spacing: 2.4px;
  width: auto;
  max-width: auto;
}
.elementor-265
  .elementor-element.elementor-element-34925fb
  > .elementor-widget-container {
  margin: 0px 30px 0px 0px;
}
.elementor-265 .elementor-element.elementor-element-bf40bb6 {
  color: var(--e-global-color-1c81d8d);
  font-family: var(--e-global-typography-secondary-font-family), Sans-Serif;
  font-size: var(--e-global-typography-secondary-font-size);
  font-weight: var(--e-global-typography-secondary-font-weight);
  font-style: var(--e-global-typography-secondary-font-style);
  text-decoration: var(--e-global-typography-secondary-text-decoration);
  line-height: var(--e-global-typography-secondary-line-height);
  letter-spacing: var(--e-global-typography-secondary-letter-spacing);
  width: auto;
  max-width: auto;
}
.elementor-265
  .elementor-element.elementor-element-bf40bb6
  > .elementor-widget-container {
  margin: 0px 30px 0px 0px;
}
.elementor-265 .elementor-element.elementor-element-f62217d {
  color: var(--e-global-color-1c81d8d);
  font-family: "Lato", Sans-Serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  line-height: 24px;
  letter-spacing: 2.4px;
  width: auto;
  max-width: auto;
}
.elementor-265
  .elementor-element.elementor-element-f62217d
  > .elementor-widget-container {
  margin: 0px 30px 0px 0px;
}
.elementor-265 .elementor-element.elementor-element-111222b .bdt-ss-btn {
  margin-right: calc(0px / 2);
  margin-left: calc(0px / 2);
  margin-bottom: 0px;
  border-width: 0px;
}
.elementor-265 .elementor-element.elementor-element-111222b .bdt-ep-grid {
  margin-right: calc(-0px / 2);
  margin-left: calc(-0px / 2);
}
.elementor-265 .elementor-element.elementor-element-111222b a.elementor-button {
  padding: 0px 0px 0px 0px;
}
.elementor-265
  .elementor-element.elementor-element-111222b
  .bdt-social-share-title,
.elementor-265 .elementor-element.elementor-element-111222b .bdt-ss-counter {
  font-family: "Lato", Sans-Serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 2.4px;
}
.elementor-265
  .elementor-element.elementor-element-111222b.bdt-ss-btns-style-flat
  .bdt-ss-btn,
.elementor-265
  .elementor-element.elementor-element-111222b.bdt-ss-btns-style-gradient
  .bdt-ss-btn,
.elementor-265
  .elementor-element.elementor-element-111222b.bdt-ss-btns-style-boxed
  .bdt-ss-btn
  .bdt-ss-icon,
.elementor-265
  .elementor-element.elementor-element-111222b.bdt-ss-btns-style-minimal
  .bdt-ss-btn
  .bdt-ss-icon {
  background-color: var(--e-global-color-1c81d8d);
}
.elementor-265
  .elementor-element.elementor-element-111222b.bdt-ss-btns-style-framed
  .bdt-ss-btn,
.elementor-265
  .elementor-element.elementor-element-111222b.bdt-ss-btns-style-minimal
  .bdt-ss-btn,
.elementor-265
  .elementor-element.elementor-element-111222b.bdt-ss-btns-style-boxed
  .bdt-ss-btn {
  color: var(--e-global-color-1c81d8d);
  border-color: var(--e-global-color-1c81d8d);
}
.elementor-265
  .elementor-element.elementor-element-111222b.bdt-ss-btns-style-flat
  .bdt-ss-icon,
.elementor-265
  .elementor-element.elementor-element-111222b.bdt-ss-btns-style-flat
  .bdt-social-share-text,
.elementor-265
  .elementor-element.elementor-element-111222b.bdt-ss-btns-style-gradient
  .bdt-ss-icon,
.elementor-265
  .elementor-element.elementor-element-111222b.bdt-ss-btns-style-gradient
  .bdt-social-share-text,
.elementor-265
  .elementor-element.elementor-element-111222b.bdt-ss-btns-style-boxed
  .bdt-ss-icon,
.elementor-265
  .elementor-element.elementor-element-111222b.bdt-ss-btns-style-minimal
  .bdt-ss-icon {
  color: var(--e-global-color-1c81d8d);
}
.elementor-265
  .elementor-element.elementor-element-111222b.bdt-ss-btns-style-framed
  .bdt-ss-btn {
  background-color: var(--e-global-color-1c81d8d);
}
.elementor-265
  .elementor-element.elementor-element-111222b.bdt-ss-btns-style-flat
  .bdt-ss-btn:hover,
.elementor-265
  .elementor-element.elementor-element-111222b.bdt-ss-btns-style-gradient
  .bdt-ss-btn:hover {
  background-color: var(--e-global-color-f974d6c);
}
.elementor-265
  .elementor-element.elementor-element-111222b.bdt-ss-btns-style-framed
  .bdt-ss-btn:hover,
.elementor-265
  .elementor-element.elementor-element-111222b.bdt-ss-btns-style-minimal
  .bdt-ss-btn:hover,
.elementor-265
  .elementor-element.elementor-element-111222b.bdt-ss-btns-style-boxed
  .bdt-ss-btn:hover {
  color: var(--e-global-color-f974d6c);
  border-color: var(--e-global-color-f974d6c);
}
.elementor-265
  .elementor-element.elementor-element-111222b.bdt-ss-btns-style-boxed
  .bdt-ss-btn:hover
  .bdt-ss-icon,
.elementor-265
  .elementor-element.elementor-element-111222b.bdt-ss-btns-style-minimal
  .bdt-ss-btn:hover
  .bdt-ss-icon {
  background-color: var(--e-global-color-f974d6c);
}
.elementor-265
  .elementor-element.elementor-element-111222b
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 15px;
}
.elementor-265 .elementor-element.elementor-element-111222b {
  width: auto;
  max-width: auto;
}
.elementor-265
  .elementor-element.elementor-element-6c6370b
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-265 .elementor-element.elementor-element-6c6370b {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
  z-index: 20;
}
.elementor-265
  .elementor-element.elementor-element-08344a5
  > .elementor-element-populated {
  padding: 15px 15px 15px 60px;
}
.elementor-265 .elementor-element.elementor-element-622d063 {
  text-align: left;
}
.elementor-265 .elementor-element.elementor-element-622d063 img {
  width: 111px;
}
.elementor-265
  .elementor-element.elementor-element-622d063
  > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-265
  .elementor-element.elementor-element-622d063.bdt-background-overlay-yes
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-265
  .elementor-element.elementor-element-2ea4e5d.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-265
  .elementor-element.elementor-element-3107fb4
  .bdt-navbar-container {
  justify-content: center;
}
.elementor-265
  .elementor-element.elementor-element-3107fb4
  .bdt-navbar-dropdown {
  padding: 0px 0px 0px 0px;
  width: 280px;
}
.elementor-265
  .elementor-element.elementor-element-3107fb4
  .bdt-navbar-nav
  > li
  > a {
  color: var(--e-global-color-primary);
  font-family: "Lato", Sans-Serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: none;
  line-height: 24px;
  letter-spacing: 2.4px;
}
.elementor-265 .elementor-element.elementor-element-3107fb4 .bdt-navbar-nav {
  margin-left: -30px;
}
.elementor-265
  .elementor-element.elementor-element-3107fb4
  .bdt-navbar-nav
  > li {
  margin-left: 30px;
}
.elementor-265
  .elementor-element.elementor-element-3107fb4.bdt-navbar-parent-indicator-yes
  .bdt-navbar-nav
  > li.bdt-parent
  a:after {
  color: #ffffff;
}
.elementor-265
  .elementor-element.elementor-element-3107fb4
  .bdt-navbar-nav
  > li
  > a:hover {
  color: var(--e-global-color-primary);
}
.elementor-265
  .elementor-element.elementor-element-3107fb4
  .bdt-navbar-dropdown-nav
  > li
  > a {
  color: var(--e-global-color-text);
  background-color: #f5f0ec;
  padding: 17px 40px 17px 40px;
  font-family: var(--e-global-typography-secondary-font-family), Sans-Serif;
  font-size: var(--e-global-typography-secondary-font-size);
  font-weight: var(--e-global-typography-secondary-font-weight);
  font-style: var(--e-global-typography-secondary-font-style);
  text-decoration: var(--e-global-typography-secondary-text-decoration);
  line-height: var(--e-global-typography-secondary-line-height);
  letter-spacing: var(--e-global-typography-secondary-letter-spacing);
}
.elementor-265
  .elementor-element.elementor-element-3107fb4
  .bdt-navbar-dropdown-nav
  > li
  + li {
  margin-top: 0px;
}
.elementor-265
  .elementor-element.elementor-element-3107fb4
  .bdt-navbar-dropdown-nav
  > li
  > a:hover {
  color: var(--e-global-color-text);
  background-color: #f5f0ec;
}
.elementor-265
  .elementor-element.elementor-element-9b12833
  > .elementor-element-populated {
  padding: 15px 60px 15px 15px;
}
.elementor-265
  .elementor-element.elementor-element-c7fd15c
  .bdt-offcanvas-button
  .bdt-offcanvas-button-icon.elementor-align-icon-right {
  margin-left: 8px;
}
.elementor-265
  .elementor-element.elementor-element-c7fd15c
  .bdt-offcanvas-button
  .bdt-offcanvas-button-icon.elementor-align-icon-left {
  margin-right: 8px;
}
.elementor-265
  .elementor-element.elementor-element-c7fd15c
  .bdt-offcanvas
  .bdt-offcanvas-bar {
  background-color: var(--e-global-color-primary);
}
.elementor-265
  .elementor-element.elementor-element-c7fd15c
  .bdt-offcanvas-button {
  color: var(--e-global-color-primary);
  background-color: #18181f00;
  border-radius: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-265
  .elementor-element.elementor-element-c7fd15c
  .bdt-offcanvas-button
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-265
  .elementor-element.elementor-element-c7fd15c
  .bdt-offcanvas-button:hover {
  color: var(--e-global-color-accent);
}
.elementor-265
  .elementor-element.elementor-element-c7fd15c
  .bdt-offcanvas-button:hover
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-265
  .elementor-element.elementor-element-c7fd15c
  .bdt-offcanvas
  .bdt-offcanvas-close {
  border-radius: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-265 .elementor-element.elementor-element-c7fd15c {
  z-index: 2;
}
.elementor-265 .elementor-element.elementor-element-08de751 {
  padding: 0px 0px 0px 0px;
}
.elementor-265
  .elementor-element.elementor-element-b6b0a13.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-265
  .elementor-element.elementor-element-b6b0a13
  > .elementor-element-populated {
  padding: 0px 0px 0px 0px;
}
.elementor-265
  .elementor-element.elementor-element-34ae75d.elementor-widget-bdt-search {
  text-align: left;
}
.elementor-265 .elementor-element.elementor-element-34ae75d .bdt-search-toggle {
  color: var(--e-global-color-primary);
}
.elementor-265 .elementor-element.elementor-element-34ae75d .bdt-search-input {
  border-radius: 3px;
}
#modal-search-34ae75d .bdt-search-input {
  border-radius: 3px;
}
.elementor-265
  .elementor-element.elementor-element-34ae75d
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-265 .elementor-element.elementor-element-34ae75d {
  width: auto;
  max-width: auto;
}
.elementor-265
  .elementor-element.elementor-element-34ae75d.bdt-background-overlay-yes
  > .elementor-widget-container:before {
  transition: background 0.3s;
}
.elementor-265
  .elementor-element.elementor-element-dbeb957
  .elementor-image
  svg
  * {
  fill: var(--e-global-color-primary);
}
.elementor-265 .elementor-element.elementor-element-dbeb957 .bdt-svg-image svg {
  width: 17px;
}
.elementor-265
  .elementor-element.elementor-element-dbeb957
  > .elementor-widget-container {
  margin: 0px 40px 0px 40px;
}
.elementor-265 .elementor-element.elementor-element-dbeb957 {
  width: auto;
  max-width: auto;
}
.elementor-265
  .elementor-element.elementor-element-f4c2f76
  .elementor-image
  svg
  * {
  fill: var(--e-global-color-primary);
}
.elementor-265 .elementor-element.elementor-element-f4c2f76 .bdt-svg-image svg {
  width: 17px;
}
.elementor-265
  .elementor-element.elementor-element-f4c2f76
  > .elementor-widget-container {
  margin: 0px 50px 0px 0px;
}
.elementor-265 .elementor-element.elementor-element-f4c2f76 {
  width: auto;
  max-width: auto;
}
body:not(.bdt-offcanvas-flip)
  .elementor-265
  .elementor-element.elementor-element-db834fe
  .bdt-offcanvas
  .bdt-offcanvas-bar {
  width: 320px;
  left: -320px;
}
body:not(.bdt-offcanvas-flip)
  .elementor-265
  .elementor-element.elementor-element-db834fe
  .bdt-offcanvas.bdt-open
  > .bdt-offcanvas-bar {
  left: 0;
}
.bdt-offcanvas-flip
  .elementor-265
  .elementor-element.elementor-element-db834fe
  .bdt-offcanvas
  .bdt-offcanvas-bar {
  width: 320px;
  right: -320px;
}
.bdt-offcanvas-flip
  .elementor-265
  .elementor-element.elementor-element-db834fe
  .bdt-offcanvas.bdt-open
  > .bdt-offcanvas-bar {
  right: 0;
}
.elementor-265
  .elementor-element.elementor-element-db834fe
  .bdt-offcanvas-button
  .bdt-offcanvas-button-icon.elementor-align-icon-right {
  margin-left: 0px;
}
.elementor-265
  .elementor-element.elementor-element-db834fe
  .bdt-offcanvas-button
  .bdt-offcanvas-button-icon.elementor-align-icon-left {
  margin-right: 0px;
}
.elementor-265
  .elementor-element.elementor-element-db834fe
  .bdt-offcanvas
  .bdt-offcanvas-bar {
  background-color: var(--e-global-color-secondary);
}
.elementor-265
  .elementor-element.elementor-element-db834fe
  .bdt-offcanvas-button {
  color: var(--e-global-color-primary);
  background-color: #02010100;
  padding: 0px 0px 0px 0px;
  font-size: 30px;
}
.elementor-265
  .elementor-element.elementor-element-db834fe
  .bdt-offcanvas-button
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-265 .elementor-element.elementor-element-db834fe {
  width: auto;
  max-width: auto;
}
.elementor-widget .tippy-tooltip .tippy-content {
  text-align: center;
}
@media (max-width: 1024px) {
  .elementor-265
    .elementor-element.elementor-element-c0ca444
    > .elementor-element-populated {
    padding: 15px 15px 15px 10px;
  }
  .elementor-265
    .elementor-element.elementor-element-76ced47
    .bdt-ep-advanced-heading-main-title-inner {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
    letter-spacing: var(--e-global-typography-secondary-letter-spacing);
  }
  .elementor-265
    .elementor-element.elementor-element-58f3ee0
    .bdt-ep-advanced-heading-main-title-inner {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
    letter-spacing: var(--e-global-typography-secondary-letter-spacing);
  }
  .elementor-265
    .elementor-element.elementor-element-58f3ee0
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-265 .elementor-element.elementor-element-58f3ee0 {
    width: 100%;
    max-width: 100%;
  }
  .elementor-265
    .elementor-element.elementor-element-298b713.elementor-column
    > .elementor-widget-wrap {
    justify-content: flex-end;
  }
  .elementor-265
    .elementor-element.elementor-element-298b713
    > .elementor-element-populated {
    padding: 10px 10px 10px 10px;
  }
  .elementor-265 .elementor-element.elementor-element-bf40bb6 {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
    letter-spacing: var(--e-global-typography-secondary-letter-spacing);
  }
  .elementor-265
    .elementor-element.elementor-element-f62217d
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-265
    .elementor-element.elementor-element-111222b
    > .elementor-widget-container {
    margin: 0px -15px 0px 0px;
  }
  .elementor-265 .elementor-element.elementor-element-111222b {
    width: 100%;
    max-width: 100%;
  }
  .elementor-bc-flex-widget
    .elementor-265
    .elementor-element.elementor-element-08344a5.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-265
    .elementor-element.elementor-element-08344a5.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-265
    .elementor-element.elementor-element-08344a5
    > .elementor-element-populated {
    padding: 15px 15px 15px 10px;
  }
  .elementor-265
    .elementor-element.elementor-element-3107fb4
    .bdt-navbar-dropdown-nav
    > li
    > a {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
    letter-spacing: var(--e-global-typography-secondary-letter-spacing);
  }
  .elementor-bc-flex-widget
    .elementor-265
    .elementor-element.elementor-element-9b12833.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-265
    .elementor-element.elementor-element-9b12833.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-265
    .elementor-element.elementor-element-9b12833.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-265
    .elementor-element.elementor-element-9b12833
    > .elementor-element-populated {
    padding: 15px 10px 15px 15px;
  }
  body:not(.bdt-offcanvas-flip)
    .elementor-265
    .elementor-element.elementor-element-c7fd15c
    .bdt-offcanvas
    .bdt-offcanvas-bar {
    width: 100vw;
    left: -100vw;
  }
  body:not(.bdt-offcanvas-flip)
    .elementor-265
    .elementor-element.elementor-element-c7fd15c
    .bdt-offcanvas.bdt-open
    > .bdt-offcanvas-bar {
    left: 0;
  }
  .bdt-offcanvas-flip
    .elementor-265
    .elementor-element.elementor-element-c7fd15c
    .bdt-offcanvas
    .bdt-offcanvas-bar {
    width: 100vw;
    right: -100vw;
  }
  .bdt-offcanvas-flip
    .elementor-265
    .elementor-element.elementor-element-c7fd15c
    .bdt-offcanvas.bdt-open
    > .bdt-offcanvas-bar {
    right: 0;
  }
  .elementor-265
    .elementor-element.elementor-element-c7fd15c
    > .elementor-widget-container {
    padding: 20px 0px 0px 0px;
  }
  .elementor-265 .elementor-element.elementor-element-c7fd15c {
    z-index: 10;
  }
}
@media (max-width: 767px) {
  .elementor-265
    .elementor-element.elementor-element-c0ca444
    > .elementor-element-populated {
    padding: 15px 15px 0px 15px;
  }
  .elementor-265 .elementor-element.elementor-element-76ced47 {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  .elementor-265
    .elementor-element.elementor-element-76ced47
    .bdt-ep-advanced-heading-main-title-inner {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
    letter-spacing: var(--e-global-typography-secondary-letter-spacing);
  }
  .elementor-265
    .elementor-element.elementor-element-76ced47
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-265 .elementor-element.elementor-element-58f3ee0 {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
  .elementor-265
    .elementor-element.elementor-element-58f3ee0
    .bdt-ep-advanced-heading-main-title-inner {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
    letter-spacing: var(--e-global-typography-secondary-letter-spacing);
  }
  .elementor-265
    .elementor-element.elementor-element-298b713.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-265
    .elementor-element.elementor-element-298b713
    > .elementor-element-populated {
    padding: 5px 15px 15px 15px;
  }
  .elementor-265
    .elementor-element.elementor-element-34925fb
    > .elementor-widget-container {
    margin: 0px 15px 0px 15px;
  }
  .elementor-265 .elementor-element.elementor-element-bf40bb6 {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
    letter-spacing: var(--e-global-typography-secondary-letter-spacing);
  }
  .elementor-265
    .elementor-element.elementor-element-bf40bb6
    > .elementor-widget-container {
    margin: 0px 15px 0px 15px;
  }
  .elementor-265
    .elementor-element.elementor-element-f62217d
    > .elementor-widget-container {
    margin: 0px 15px 0px 15px;
  }
  .elementor-265
    .elementor-element.elementor-element-111222b
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-265 .elementor-element.elementor-element-111222b {
    width: 100%;
    max-width: 100%;
  }
  .elementor-265 .elementor-element.elementor-element-08344a5 {
    width: 70%;
  }
  .elementor-265
    .elementor-element.elementor-element-3107fb4
    .bdt-navbar-dropdown-nav
    > li
    > a {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
    letter-spacing: var(--e-global-typography-secondary-letter-spacing);
  }
  .elementor-265 .elementor-element.elementor-element-9b12833 {
    width: 30%;
  }
  .elementor-bc-flex-widget
    .elementor-265
    .elementor-element.elementor-element-9b12833.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-265
    .elementor-element.elementor-element-9b12833.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-265
    .elementor-element.elementor-element-9b12833
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
      .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
  body:not(.bdt-offcanvas-flip)
    .elementor-265
    .elementor-element.elementor-element-c7fd15c
    .bdt-offcanvas
    .bdt-offcanvas-bar {
    width: 100vw;
    left: -100vw;
  }
  body:not(.bdt-offcanvas-flip)
    .elementor-265
    .elementor-element.elementor-element-c7fd15c
    .bdt-offcanvas.bdt-open
    > .bdt-offcanvas-bar {
    left: 0;
  }
  .bdt-offcanvas-flip
    .elementor-265
    .elementor-element.elementor-element-c7fd15c
    .bdt-offcanvas
    .bdt-offcanvas-bar {
    width: 100vw;
    right: -100vw;
  }
  .bdt-offcanvas-flip
    .elementor-265
    .elementor-element.elementor-element-c7fd15c
    .bdt-offcanvas.bdt-open
    > .bdt-offcanvas-bar {
    right: 0;
  }
  .elementor-265
    .elementor-element.elementor-element-c7fd15c
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
}
@media (min-width: 768px) {
  .elementor-265 .elementor-element.elementor-element-c0ca444 {
    width: 52.049%;
  }
  .elementor-265 .elementor-element.elementor-element-298b713 {
    width: 47.911%;
  }
  .elementor-265 .elementor-element.elementor-element-08344a5 {
    width: 16.187%;
  }
  .elementor-265 .elementor-element.elementor-element-2ea4e5d {
    width: 58.261%;
  }
  .elementor-265 .elementor-element.elementor-element-9b12833 {
    width: 25.216%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-265 .elementor-element.elementor-element-08344a5 {
    width: 30%;
  }
  .elementor-265 .elementor-element.elementor-element-9b12833 {
    width: 70%;
  }
}
